.chat-nav_bar
.chat-side.clearfix
  .chat-side_user
    .chat-side_user-content
      %h3.header__name
        seo
      .chat-icon  
        
  .chat-side_groups
    .chat-side_group
      
      .chat-side_group-link
        .chat-side_group-name
          株式会社div
        .chat-side_group-message
          nothing