.chat-nav_bar
.chat-side.clearfix
  .chat-side_user
    .chat-side_user-content
      %h3.header__name
        seo
      .chat-icon  
        %list
          = link_to  do
            = fa_icon 'pencil-square-o', class: 'icon'
        %list
          = link_to  do
            = fa_icon 'cog', class: 'icon'  
  .chat-side_group
    .chat-side_group-main
      
      .chat-side_group-main-link
        .chat-side_group-main-name
          株式会社div
        .chat-side_group-main-message
          nothing