html, body{
  height: 100%;
  margin: 0;
  padding: 0;
}
.container{
	height: 100%;
}

@import "./reset";
@import "./side_bar";
@import "font-awesome";
@import "./chat-main";
@import "./user";
@import "./colors";
@import "./flash";
@import "./group";
